*{
    margin: 0px;
    padding: 0px;
}
.C{
    margin-left: 1500px;
    border: 10px;
    /* box-shadow: 0px 0px 5px #ffff; */
    padding: 50px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 500px;
    width:400px;
    font-weight: bolder;
    /* background-image: url('Mango.jpg'); */
}
Form{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.C input{
    height: 30px;
    width: 300px;
}
.C button{
    background-color: blue;
    color: white;
    padding: 5px;
}